    @import url('https://fonts.googleapis.com/css?family=Roboto:400,300,100');
    @import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.3.2/css/weather-icons.min.css');
    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background-color: #343a40;
        height: 100%;
    }
    
    #root {
        position: relative;
    }
    
    h1,
    h2,
    h3,
    h4 {
        color: black;
        font-family: 'Roboto';
        font-weight: 100;
        line-height: 1.1;
        letter-spacing: 0.025em;
        margin: 0;
        padding: 0;
    }
    
    a {
        color: black;
        opacity: 0.54;
        text-decoration: none;
    }
    
    a:hover,
    .active {
        opacity: 1;
    }
    
    #sticky {
        /* position: sticky;
        max-height: 100vh;
        overflow-y: scroll;
        color: white;
        padding: 3em 3em 3em 1.5em */
    }
    
    .wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    
    .searchbar,
    .button {
        /* height: 45px;
        margin: 1em 0 4em;
        padding: 10;
        font: 400 1rem 'Roboto';
        letter-spacing: 0.025em;
        text-transform: uppercase; */
        color: black;
        border: none;
    }
    
    .searchbar {
        /* float: left; */
        width: 360px;
        /* margin-right: 20px; */
        border-bottom: solid thin black;
        color: black;
    }
    
    .searchbar::-webkit-input-placeholder {
        color: black;
        opacity: 0.35;
    }
    
    .searchbar::-moz-placeholder {
        color: black;
        opacity: 0.35;
    }
    
    .searchbar:-ms-input-placeholder {
        color: black;
        opacity: 0.35;
    }
    
    .searchbar:-moz-placeholder {
        color: black;
        opacity: 0.35;
    }
    
    .button:focus,
    .searchbar:focus {
        outline: none;
        color: black;
    }
    
    .searchbar:focus::-webkit-input-placeholder {
        color: black;
        opacity: 0.7;
    }
    
    .searchbar:focus::-moz-placeholder {
        color: black;
        opacity: 0.7;
    }
    
    .searchbar:focus:-ms-input-placeholder {
        color: black;
        opacity: 0.7;
    }
    
    .searchbar:focus:-moz-placeholder {
        color: black;
        opacity: 0.7;
    }
    
    .button {
        background: unset;
        border: unset;
        font-size: 1.5em;
        margin-left: -1.5em;
        color: #d0d0d0;
        font-size: 1em;
    }
    
    .button:hover {
        cursor: pointer;
        color: #fff;
        background-color: #333;
    }
    
    .panel {
        width: 100%;
        display: inline-block;
    }
    
    .divider {
        margin: 0 0.05em;
    }
    
    .block {
        display: table-cell;
        padding: 1.5em 0 0 0;
        text-align: center;
    }
    
    .high {
        font-weight: 300;
        margin: 0.25em 0;
    }
    
    .secondary {
        opacity: 0.7;
    }
    
    .transparent {
        background: transparent;
    }
    
    #description::first-letter {
        text-transform: uppercase;
    }
    
    .logo {
        display: block;
        width: 15em;
        margin: 0 auto 2em auto;
    }
    
    #githubUsername {
        background-color: unset;
        outline: 0;
        border-width: 0 0 2px;
        border-color: #24282d;
        color: #d0d0d0;
        font-size: 2em;
        text-align: center;
        width: 14em;
    }
    
    @media screen and (max-width: 920px) {
        #repos {
            grid-template-columns: 1fr;
        }
        #githubUsername {
            width: 80%;
            font-size: 1.5em;
        }
        #sticky {
            position: unset;
            max-height: unset;
            overflow-y: unset;
        }
        #button {
            font-size: 1em;
        }
        #linear {
            background: unset;
        }
        .infos {
            position: unset;
            top: unset;
            left: unset;
            transform: unset;
            padding: 4em 0 1em 0;
        }
    }